<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.zmsk.face.mapper.custom.authentication.CustomAuthenticationInfoMapper">

	<select id="countAuthenticationSuccessResult" resultType="java.lang.Long">
		SELECT
		count(*) FROM face_authentication_info WHERE
		organization_id=#{organizationId} AND result=1 AND ctime BETWEEN
		#{startTime} AND #{endTime}
	</select>

	<select id="countAuthenticationFailResult" resultType="java.lang.Long">
		SELECT
		count(*) FROM face_authentication_info WHERE
		organization_id=#{organizationId} AND result=0 AND ctime BETWEEN
		#{startTime} AND #{endTime}
	</select>

	<select id="countEquipmentAuthenticationSuccessResult"
		resultType="com.zmsk.face.dto.authentic.EquipmentDetailAuthenticationDTO">
		SELECT count(*) AS todaySuccessCount
		,authentication.equipment_id AS
		equipmentId,equipment.remark,equipment.`status` FROM
		face_authentication_info AS authentication,face_equipment AS equipment
		WHERE authentication.organization_id=#{organizationId} AND
		authentication.result=1 AND
		ctime BETWEEN #{startTime} AND #{endTime}
		AND
		equipment.id=authentication.equipment_id GROUP BY equipment_id
	</select>

	<select id="countEquipmentAuthenticationFailResult"
		resultType="com.zmsk.face.dto.authentic.EquipmentDetailAuthenticationDTO">
		SELECT count(*) AS todayFailCount
		,authentication.equipment_id AS
		equipmentId,equipment.remark,equipment.`status` FROM
		face_authentication_info AS authentication,face_equipment AS equipment
		WHERE authentication.organization_id=#{organizationId} AND
		authentication.result=0 AND
		ctime BETWEEN #{startTime} AND #{endTime}
		AND
		equipment.id=authentication.equipment_id GROUP BY equipment_id
	</select>

</mapper>